@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
:root{
    --background-color: #FCFCFC;
    --background-secondary-color: #f0f0f0;
    --text-color: #101828;
    --cta-main-color: #30D083;
    --cta-secondary-color: #259F64;
    --cta-hover-color: #35f699;
    --background-card-color: #f0f0f0;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
body{
    font-family: "Zalando Sans Expanded", sans-serif;
    background-color: var(--background-secondary-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: .625rem;
    padding: .625rem;
    color: var(--text-color);
}
header, main, footer{
    max-width: 500px;
    width: 100%;
    padding: 2rem;
    background-color: var(--background-color);
    border-radius: 25px;
    box-shadow: rgba(255, 255, 255, 0.19) 0px 1px 2px 0px inset, rgba(0, 0, 0, 0.19) 0px 1px 2px 0px, rgba(0, 0, 0, 0.082) 0px 2px 4px 0px;
}
/* main */
.cards-list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.card{
    background-color: var(--background-card-color);
    padding: 1rem;
    border-radius: 20px;
    grid-column: span 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 0;
}
.card img{
    width: 100%;
    height: auto;
    mix-blend-mode: multiply;
    aspect-ratio: 32/9;
    object-fit: contain;
}
/* footer */
footer a{
    text-decoration: none;
    color: var(--cta-main-color);
    transition: .2s ease-in-out;
    font-weight: 500;
    text-align: center;
}
footer a:hover{
    color: var(--cta-secondary-color);
}